/* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */
  
body {
  background:#F0FFFF ;
}
h1, h3 {
  font-family:Comic Sans MS ;
  color: #CCCCFF;
  background:#6495ED;
}
p{
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke;
  background-color: #9FE2BF;
}